In [1]:
from sys import modules

IN_COLAB = 'google.colab' in modules
if IN_COLAB:
    !pip install -q ir_axioms python-terrier

In [2]:
# Start/initialize PyTerrier.
from pyterrier import started, init

if not started():
    init(tqdm="notebook")

PyTerrier 0.8.0 has loaded Terrier 5.6 (built by craigmacdonald on 2021-09-17 13:27)

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [3]:
from pathlib import Path
from typing import List
from pyterrier import Transformer
from examples.trec_util import TrecTrack

# track = TrecTrack(28, "deep", "msmarco-passage/trec-dl-2019")
track = TrecTrack(
    28, "deep", "msmarco-passage/trec-dl-2019",
    base_results_dir=Path("/home/heinrich/Development/webis/trec-system-runs")
)
retrieval_systems: List[Transformer] = [result % 10 for result in track.results]

Read results: 100%|██████████| 37/37 [00:13<00:00,  2.66run/s]

In [4]:
from ir_axioms.backend.pyterrier.experiment import AxiomaticExperiment
from ir_axioms.axiom import TFC1, LNC1

axiomatic_experiment = AxiomaticExperiment(
    retrieval_systems=retrieval_systems,
    topics=track.dataset.get_topics(),
    qrels=track.dataset.get_qrels(),
    index=track.index,
    dataset=track.ir_dataset,
    axioms=[TFC1(), LNC1()],
    filter_by_qrels=True,
    filter_by_topics=True,
    verbose=True,
)
axiomatic_experiment

AxiomaticExperiment(retrieval_systems=[RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.srchvrs_ps_run1.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.ICT-BERT2.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.TUW19-p1-f.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25tuned_rm3_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25tuned_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.idst_bert_p1.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25tuned_ax_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.ICT-CKNRM_B50.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.p_bert.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.ms_duet_passage.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.TUW19-p3-f.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.runid3.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.runid5.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25tuned_prf_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.TUW19-p2-f.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.idst_bert_pr2.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.TUA1-1.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.p_exp_rm3_bert.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.p_exp_bert.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.test1.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.TUW19-p3-re.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.TUW19-p1-re.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.runid4.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.UNH_exDL_bm25.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.idst_bert_p3.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.ICT-CKNRM_B.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25base_rm3_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.TUW19-p2-re.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25base_prf_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.srchvrs_ps_run2.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.srchvrs_ps_run3.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25base_ax_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.idst_bert_pr1.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.bm25base_p.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.idst_bert_p2.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.UNH_bm25.gz')), Scalar('10')), RankCutoffTransformer(ComposedPipeline(SourceTransformer(), TaggedTransformer(tag='/home/heinrich/Development/webis/trec-system-runs/trec28/deep/input.runid2.gz')), Scalar('10'))], topics=         qid                                              query
0    1108939                  what slows down the flow of blood
1    1112389             what is the county for grand rapids mn
2     792752                                     what is ruclip
3    1119729  what do you do when you have a nosebleed from ...
4    1105095                  where is sugar lake lodge located
..       ...                                                ...
195   146187  difference between a mcdouble and a double che...
196   634428                            what does chs stand for
197  1121986     what are the effects of having low blood sugar
198   321441                 how much is a us postal stamp cost
199   532603                   university of dubuque enrollment

[200 rows x 2 columns], qrels=          qid    docno  label iteration
0       19335  1017759      0        Q0
1       19335  1082489      0        Q0
2       19335   109063      0        Q0
3       19335  1160863      0        Q0
4       19335  1160871      0        Q0
...       ...      ...    ...       ...
9255  1133167  8839920      2        Q0
9256  1133167  8839922      2        Q0
9257  1133167   944810      0        Q0
9258  1133167   949411      0        Q0
9259  1133167   977421      0        Q0

[9260 rows x 4 columns], index=PosixPath('data/indices/msmarco-passage/trec-dl-2019'), axioms=[TFC1(), LNC1()], filter_by_topics=True, filter_by_qrels=True, dataset=Dataset(id='msmarco-passage/trec-dl-2019', provides=['docs', 'queries', 'qrels', 'scoreddocs']), contents_accessor='text', tokeniser=None, cache_dir=None, verbose=True)

In [5]:
preferences = axiomatic_experiment.preferences
preferences

AxiomaticExperiment: 100%|██████████| 37/37 [00:05<00:00,  6.69system/s]

,qid,docno_a,rank_a,score_a,name,query,docno_b,rank_b,score_b,original_preference,oracle_preference,TFC1_preference,LNC1_preference
0,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,2259183,1,6.572989,0,0,0,0
1,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288597,2,6.525999,1,0,0,0
2,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288601,3,6.517504,1,0,0,0
3,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288596,4,6.508273,1,0,0,-1
4,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288600,5,6.508273,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3422,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,6430258,5,0.430223,-1,0,-1,0
3423,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,6658185,6,0.428952,-1,1,0,0
3424,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,7096817,7,0.427588,-1,1,0,0
3425,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,1138801,8,0.427014,-1,1,0,0
3426,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,1230566,9,0.427014,0,0,0,0

In [6]:
# Judged preferences (should be equal to preferences if experiment was alreay filtered by qrels.)
judged_preferences = preferences[preferences["oracle_preference"].notna()]
judged_preferences

,qid,docno_a,rank_a,score_a,name,query,docno_b,rank_b,score_b,original_preference,oracle_preference,TFC1_preference,LNC1_preference
0,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,2259183,1,6.572989,0,0,0,0
1,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288597,2,6.525999,1,0,0,0
2,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288601,3,6.517504,1,0,0,0
3,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288596,4,6.508273,1,0,0,-1
4,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,3288600,5,6.508273,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3422,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,6430258,5,0.430223,-1,0,-1,0
3423,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,6658185,6,0.428952,-1,1,0,0
3424,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,7096817,7,0.427588,-1,1,0,0
3425,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,1138801,8,0.427014,-1,1,0,0
3426,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,1230566,9,0.427014,0,0,0,0

In [7]:
wrong_preferences = judged_preferences[
    abs(judged_preferences["oracle_preference"] - judged_preferences["original_preference"]) >= 2
    ]
wrong_preferences

,qid,docno_a,rank_a,score_a,name,query,docno_b,rank_b,score_b,original_preference,oracle_preference,TFC1_preference,LNC1_preference
8,156493,2259183,1,6.572989,srchvrs_ps_run1,do goldfish grow,6139386,9,6.399120,1,-1,0,0
17,156493,3288597,2,6.525999,srchvrs_ps_run1,do goldfish grow,6139386,9,6.399120,1,-1,0,0
26,156493,3288601,3,6.517504,srchvrs_ps_run1,do goldfish grow,6139386,9,6.399120,1,-1,0,0
35,156493,3288596,4,6.508273,srchvrs_ps_run1,do goldfish grow,6139386,9,6.399120,1,-1,0,0
44,156493,3288600,5,6.508273,srchvrs_ps_run1,do goldfish grow,6139386,9,6.399120,1,-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3420,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,2040185,3,0.430896,-1,1,0,0
3421,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,2257806,4,0.430273,-1,1,0,0
3423,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,6658185,6,0.428952,-1,1,0,0
3424,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,7096817,7,0.427588,-1,1,0,0
3425,146187,1230566,9,0.427014,runid2,difference between a mcdouble and a double che...,1138801,8,0.427014,-1,1,0,0

In [8]:
wrong_preferences_with_axiom_hints = wrong_preferences[
    (wrong_preferences["TFC1_preference"] != 0) | (wrong_preferences["LNC1_preference"] != 0)
    ]
wrong_preferences_with_axiom_hints

,qid,docno_a,rank_a,score_a,name,query,docno_b,rank_b,score_b,original_preference,oracle_preference,TFC1_preference,LNC1_preference
94,1110199,398442,2,7.017928,srchvrs_ps_run1,what is wifi vs bluetooth,5218014,5,6.803596,1,-1,1,0
112,1110199,554521,4,6.814814,srchvrs_ps_run1,what is wifi vs bluetooth,5218014,5,6.803596,1,-1,0,-1
118,1110199,5218014,5,6.803596,srchvrs_ps_run1,what is wifi vs bluetooth,398442,2,7.017928,-1,1,-1,0
120,1110199,5218014,5,6.803596,srchvrs_ps_run1,what is wifi vs bluetooth,554521,4,6.814814,-1,1,0,1
246,130510,7125239,1,6.547254,srchvrs_ps_run1,definition declaratory judgment,1494936,4,6.341850,1,-1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3140,182539,8757181,5,0.432632,runid2,example of monotonic function,57444,2,0.434976,-1,1,1,0
3187,1113437,4981632,1,0.429929,runid2,what is physical description of spruce,8128794,4,0.427766,1,-1,-1,0
3206,1113437,6021898,3,0.428806,runid2,what is physical description of spruce,1066532,5,0.427582,1,-1,1,0
3211,1113437,8128794,4,0.427766,runid2,what is physical description of spruce,4981632,1,0.429929,-1,1,1,0
3222,1113437,1066532,5,0.427582,runid2,what is physical description of spruce,6021898,3,0.428806,-1,1,-1,0

In [9]:
wrong_preferences_per_query = wrong_preferences.groupby(["qid"]).aggregate(wrong_preferences=("original_preference", "count"))
wrong_preferences_per_query.sort_values(by="wrong_preferences", ascending=False, inplace=True)
wrong_preferences_per_query

         wrong_preferences
qid
47923                 1040
405717                1006
207786                 874
451602                 840
359349                 820
148538                 818
490595                 784
1113437                748
1129237                746
573724                 692
1114819                670
146187                 670
87452                  618
527433                 614
1037798                590
182539                 564
130510                 558
1103812                558
1114646                546
1115776                538
1110199                518
1112341                514
183378                 504
264014                 502
87181                  502
1106007                476
489204                 464
1133167                462
915593                 442
833860                 436
19335                  434
1121709                426
1124210                382
443396                 332
1117099                268
168216                 246
1121402                232
962179                 226
156493                 216
1063750                208
104861                 138
131843                 138
855410                  72

In [10]:
wrong_preferences_per_run = wrong_preferences.groupby(["name"]).aggregate(wrong_preferences=("original_preference", "count"))
wrong_preferences_per_run.sort_values(by="wrong_preferences", ascending=False, inplace=True)
wrong_preferences_per_run

                 wrong_preferences
name
srchvrs_ps_run1                792
TUW19-p3-f                     770
TUW19-p1-f                     748
TUW19-p2-f                     744
TUW19-p3-re                    726
TUW19-p2-re                    726
TUW19-p1-re                    706
UNH_bm25                       706
srchvrs_ps_run3                702
srchvrs_ps_run2                698
ICT-CKNRM_B50                  648
bm25base_p                     636
test1                          636
p_bert                         630
TUA1-1                         624
p_exp_bert                     620
bm25tuned_p                    614
ms_duet_passage                612
bm25base_rm3_p                 612
ICT-CKNRM_B                    612
bm25tuned_ax_p                 610
p_exp_rm3_bert                 596
idst_bert_p2                   570
idst_bert_p1                   560
runid3                         560
bm25base_prf_p                 558
runid4                         554
bm25tuned_rm3_p                552
runid5                         550
runid2                         548
bm25tuned_prf_p                540
bm25base_ax_p                  530
idst_bert_p3                   528
idst_bert_pr1                  524
idst_bert_pr2                  484
ICT-BERT2                      430
UNH_exDL_bm25                  176