In [4]:
import pandas as pd

df = pd.read_csv('/mnt/ceph/storage/data-in-progress/data-research/web-search/ir-axioms/preferences/2022-02-18/trec-28-deep.passages-preferences-all-axioms-depth-10.csv')
df = df[df['name'] == 'idst_bert_p1']
df

,Unnamed: 0,qid,query,docno_a,rank_a,score_a,name,text_a,docno_b,rank_b,...,RS-PL2_preference,RS-QL_preference,TFC1_preference,TFC3_preference,M-TDC_preference,LEN-M-TDC_preference,STMC1_preference,STMC1-fastText_preference,STMC2_preference,STMC2-fastText_preference
29255,0,156493,do goldfish grow,1960255,1,0.993818,idst_bert_p1,Rating Newest Oldest. Best Answer: Goldfish do...,1960255,1,...,0,0,0,0,0,0,0,0,0,0
29256,1,156493,do goldfish grow,1960255,1,0.993818,idst_bert_p1,Rating Newest Oldest. Best Answer: Goldfish do...,2928707,2,...,1,1,0,0,0,0,1,1,0,0
29257,2,156493,do goldfish grow,1960255,1,0.993818,idst_bert_p1,Rating Newest Oldest. Best Answer: Goldfish do...,8273011,3,...,1,1,1,0,0,0,-1,-1,0,0
29258,3,156493,do goldfish grow,1960255,1,0.993818,idst_bert_p1,Rating Newest Oldest. Best Answer: Goldfish do...,3288600,4,...,-1,-1,0,0,-1,-1,1,-1,0,0
29259,4,156493,do goldfish grow,1960255,1,0.993818,idst_bert_p1,Rating Newest Oldest. Best Answer: Goldfish do...,6139386,5,...,-1,-1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32733,3478,146187,difference between a mcdouble and a double che...,8434618,9,0.856098,idst_bert_p1,The Double Cheesburger is now $1.19 instead of...,8434624,5,...,1,1,0,0,0,0,1,-1,0,0
32734,3479,146187,difference between a mcdouble and a double che...,8434618,9,0.856098,idst_bert_p1,The Double Cheesburger is now $1.19 instead of...,744167,6,...,-1,1,0,0,0,0,-1,-1,0,0
32735,3480,146187,difference between a mcdouble and a double che...,8434618,9,0.856098,idst_bert_p1,The Double Cheesburger is now $1.19 instead of...,2226093,7,...,-1,1,0,0,0,0,-1,-1,0,0
32736,3481,146187,difference between a mcdouble and a double che...,8434618,9,0.856098,idst_bert_p1,The Double Cheesburger is now $1.19 instead of...,8434626,8,...,-1,1,0,0,0,0,1,-1,0,0
32737,3482,146187,difference between a mcdouble and a double che...,8434618,9,0.856098,idst_bert_p1,The Double Cheesburger is now $1.19 instead of...,8434618,9,...,0,0,0,0,0,0,0,0,0,0

In [28]:
dict(df[(df['ORACLE_preference'] < 0) & (df['TFC1_preference'] == -1) & (df['rank_a'] < df['rank_b'])].iloc[14])

{'Unnamed: 0': 1885,
 'qid': 207786,
 'query': 'how are some sharks warm blooded',
 'docno_a': 7941579,
 'rank_a': 3,
 'score_a': 0.9782491475343704,
 'name': 'idst_bert_p1',
 'text_a': 'Great white sharks are some of the only warm blooded sharks. This allows them to swim in colder waters in addition to warm, tropical waters. Great White sharks can be found as… north as Alaska and as south as the southern tip of South America. They exist worldwide, everywhere in-between. 5 people found this useful.',
 'docno_b': 2763917,
 'rank_b': 5,
 'score_b': 0.941848412156105,
 'text_b': "These sharks can raise their temperature about th…e temperature of the water; they need to have occasional short bursts of speed in hunting Cold blooded although if you've ever seen a Great White Shark hunt sea lions you'd be thinking they would have to be hotblooded. Actually the Salmon Shark is a warm blooded shark.",
 'ORIG_preference': 1,
 'ORACLE_preference': -1,
 'ArgUC_preference': 1,
 'QTArg_preference': 0,
 'QTPArg_preference': 1,
 'aSL_preference': 1,
 'LNC1_preference': 0,
 'TF-LNC_preference': 0,
 'LB1_preference': 0,
 'PROX1_preference': 1,
 'PROX2_preference': 1,
 'PROX3_preference': 0,
 'PROX4_preference': -1,
 'PROX5_preference': 1,
 'REG_preference': -1,
 'REG-fastText_preference': -1,
 'ANTI-REG_preference': -1,
 'ANTI-REG-fastText_preference': -1,
 'ASPECT-REG_preference': 0,
 'ASPECT-REG-fastText_preference': 0,
 'AND_preference': 0,
 'LEN-AND_preference': 0,
 'M-AND_preference': 0,
 'LEN-M-AND_preference': 0,
 'DIV_preference': 0,
 'LEN-DIV_preference': 0,
 'RS-TF_preference': -1,
 'RS-TF-IDF_preference': -1,
 'RS-BM25_preference': -1,
 'RS-PL2_preference': -1,
 'RS-QL_preference': 1,
 'TFC1_preference': -1,
 'TFC3_preference': 0,
 'M-TDC_preference': 0,
 'LEN-M-TDC_preference': 0,
 'STMC1_preference': -1,
 'STMC1-fastText_preference': -1,
 'STMC2_preference': 0,
 'STMC2-fastText_preference': 1}